# Python
__pycache__/
*.py[cod]
*$py.class
*.venv
venv/
ENV/
env/

# Databases
*.db
*.sqlite3

# OS / Editors
.DS_Store
.vscode/
.idea/
Thumbs.db

# Credentials and Local Settings
.env
firebase-service-account.json
firebase_config.json

